/*
 * Device Tree overlay for Waveshare 2.7 inch ePaper Display
 *
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708";


	fragment@0 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@2 {
		target = <&spidev1>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@3 {
		target = <&gpio>;
		__overlay__ {
			epaper_27inch_pins: epaper_27inch_pins {
				brcm,pins = <25 8 17 24>;
				brcm,function = <1 1 1 0>; /* out out out in */
			};
		};
	};

	fragment@4 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
			epaper: epaper_27inch@0 {
				gpio-dc = <&gpio 25>;
				gpio-cs = <&gpio 8>;
				gpio-rst = <&gpio 17>;
				gpio-busy = <&gpio 24>;
			};
		};
	};
};